h1 {
  color: blueviolet;
}

img {
  width: 600px;
}

div {
  padding: 20px;
}

a {
  padding: 20px;
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  padding: 15px;
}

.footer {
  color: palevioletred;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-left: 200px;
}